/* Reset default browser styles */
body, h1, p, ul, li {
    margin: 10;
    padding: 10;
  }
  
  /* Set default font and colors */
  body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f5f5f5;
  }
  
  /*Header styles Start*/
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: brown;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 10px;
    color:darkgreen;
  }
  h4 {
    font-size: 13px;
    margin-bottom: 10px;
    color:darkmagenta;
  }
  h5 {
    font-size: 11.5px;
    margin-bottom: 10px;
    color:chocolate;
  }
  /*Header styles End*/
  
  /* Navigation styles start */
  .navbar {
    margin-left: 180px;
    margin-bottom: 20px;
    background-color:honeydew;
    font-size:small;
  }
  .navbar ul {
    list-style-type: none;
  }
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #333;
  }
  .navbar a:hover {
    color:blue;
  }
  /* Navigation styles end */

  /* Main content styles */
  main {
    padding: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  /* Footer styles end */

  /* Table styles Start */
  table {
    border-collapse: collapse;
    /*width: 100%;*/
    border: 1px solid black;
  }

  /*
  th and td are selectors
    th: It targets the table header cells (<th>) in html table
    td: It targets the table data cells (<td>) within an HTML table.
  */
  th, td, tr {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: #f2f2f2;
    font-size: smaller;
  }
  /* Table styles end */

.code-block {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 11px;
    line-height: 1.5;
    white-space: pre-wrap;
}
pre {
  background-color: lightgrey;
  /*padding: 10px;
  border-radius: 5px;*/
  font-family: monospace;
  font-size: 9.5px;
  /*line-height: 1.5;
  white-space: pre-wrap;*/
}
#search-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f1f1f1;
}

/* sidebar start
Search: mdn sidebar*/
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  background-color:honeydew;
  overflow-x: hidden;
  /*padding-top: 20px;*/
  font-size:small;
  overflow-y: auto;
}


/* Style the links inside the sidebar */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration:burlywood;
  color: #818181;
  display: block;
  font-size: small;
}

/* Change the color of links on hover */
.sidebar a:hover {
  color: #333333;
}

.sidebar ul{
  margin: -1px 0;
  font-size: x-small;
}

summary {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
/* sidebar end*/
dl {
  margin-left: 16px;
  margin-top: 0;
  font-size: 12px;
}
dt {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 11px;
}
dd {
  margin-left: 24px;
  margin-bottom: 10px;
  font-size: 10px;
}

p {
  margin-left: 24px;
  margin-bottom: 10px;
  font-size: 10px;
}

/* li start*/
li {
  list-style-type: none;
}
/* li start*/

/*a start*/
a:link {
  color:blue
}
/*a start*/