/* Reset default browser styles */
body, h1, p, ul, li {
    margin: 10;
    padding: 10;
  }
  
  /* Set default font and colors */
  body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f5f5f5;
  }
  
  /* Header styles */
  header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Navigation styles */
  nav {
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  /*
  th and td are selectors
    th: It targets the table header cells (<th>) in html table
    td: It targets the table data cells (<td>) within an HTML table.
  */
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
  } 
